/* public/css/master.css */

body {
    font-family: 'Raleway', sans-serif;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.breadcrumb-item {
    font-size: 0.8em !important;
}
.ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.board-table {
    table-layout: fixed;
}
.board-table .author,
.board-table .date {
    width: 100px;
}

.post-body {
    white-space: pre-line;
}
.post-info {
    font-size: 0.8em;
}

.basicw h1{
    color:teal
}

.user-form {
    width:400px;
}