<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container basicw py-4">
            <div class="jumbotron">
                <h1 class="display-1">Welcome!</h1>
            </div>
        </div>
    </body>
</html>